body {
  background: rgb(248, 5, 5);
  color: rgb(250, 249, 243);
}

.navbar {
  border-top: #f3db06 3px solid;
  border-bottom: #f30511 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url(../img/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 300px;

}



#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas {
  /* color: #d64e00;
  background: #fff; */
  padding: 5px;
  border-radius: 5px;
}

#gallery-section {
  padding: 5px;
  border-radius: 5px;
}

#the-band-show {
  background: url(../img/41c.jpg);
  /* background-repeat: repeat; */
}

#home-section .warning-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: yellow;
}

#the-band-quote {
  background: black;
}

#-section {
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}



#share-section {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}